<body>

	<h2>Skills and expertise</h2>

	<h5>Computational</h5>

	Bioinformatics, genome assembly and annotation, comparative genomics, phylogen*ics, data visualisation<br>
	<b>Programming languages</b> - proficient in R and bash, experience with Python and git

	<h5>Biological</h5>
	
	Fungal biology, microbial ecology, molecular systematics	

	<h2>Research experience</h2>

	<table style="table-layout:fixed; width:100%">
		<tbody>
			<tr>
				<td width="80%">
					<b>Research scientist, The Earlham Institute</b><br>
					As part of the BBSRC cross-institute Delivering Sustainable Wheat initiative, I’m currently using comparative and pangenomics methods to explore questions around fungal lifestyles; genetic determinants of virulence; and wild vs domestic hosts in <i>Gaeumannomyces</i> and other fungi associated with roots of wheat and wild grass relatives.
				</td>
				<td width="20%">
					Jan 2023 –
				</td>
			</tr>
			<tr>
				<td width="80%">
					<b>PhD Biological Sciences, Royal Botanic Gardens Kew and Queen Mary University of London (London NERC DTP)</b><br>
					<a href="https://qmro.qmul.ac.uk/xmlui/handle/123456789/88078">'Using collections to explore the evolution of plant-associated lifestyles in the <i>Ascomycota</i>' (click to view thesis)</a>
				</td>
				<td width="20%">
					Sep 2018 – Dec 2022
				</td>
			</tr>
			<tr>
				<td width="80%">
					<b>Data and analysis intern – Plant Health Evidence and Analysis Team, Department for Environment, Food and Rural Affairs</b><br>
					Following user-centred design principles, I designed and built two R Shiny dashboard apps: one to analyse and visualise plant import data to inform governmental policies on biosecurity and tree planting; and the second to calculate and report the risk associated with import pathways using data from the pest risk register.
				</td>
				<td width="20%">
					Apr 2022 – Jun 2022
				</td>
			</tr>
			<tr>
				<td width="80%">
					<b>Research assistant – Comparative Plant and Fungal Biology Department, Royal Botanic Gardens, Kew</b><br>
					I led molecular lab work and data analysis for a project entitled 'Exploring endophyte diversity in MSB seeds' (see my <a href="https://rowena-h.github.io/publications/">publications</a>) and assisted fieldwork collecting fungi for a project entitled ‘Diversity of the ‘forgotten Kingdom’ in Boyacá, Colombia’.
				</td>
				<td width="20%">
					Feb 2017 – Aug 2018
				</td>
			</tr>
			<tr>
				<td width="80%">
					<b>BSc Biological Sciences with Professional Placement, First Class Honours, The University of Exeter</b><br>
					+ the College Commendation and the Dean's Commendation.
				</td>
				<td width="20%">
					Sep 2012 – Jun 2016
				</td>
			</tr>
			<tr>
				<td width="80%">
					<b>Sandwich course student – Comparative Plant and Fungal Biology Department, Royal Botanic Gardens, Kew</b><br>
					I undertook a research project investigating the evolution of a lesser-known group of parasitic fungi.
				</td>
				<td width="20%">
					Sep 2014 – Aug 2015
				</td>
			</tr>
		</tbody>
	</table>

</body>