<body>

	<h2>Skills and expertise</h2>

	<h4>Computational</h4>

	Bioinformatics, genome assembly and annotation, comparative genomics, phylogen*ics<br>
	<b>Programming languages</b> - proficient in R and bash, experience with Python and git

	<h4>Biological</h4>

	Fungal biology, microbial ecology, molecular systematics


	<h2>Experience</h2>

	<table style="width:100%">
		<tbody>
			<tr>
				<td width="80%">
					<b>Intern – Plant Health Evidence and Analysis Team, Department for Environment, Food and Rural Affairs</b><br>
					Following user-centred design principles, I designed and built an R Shiny dashboard app to analyse and visualise data on plant imports to help inform governmental policies on biosecurity and tree planting.
				</td>
				<td width="20%">
					Apr 2022 – Jun 2022
				</td>
			</tr>
			<tr>
				<td width="80%">
					<b>Research assistant – Comparative Plant and Fungal Biology Department, Royal Botanic Gardens, Kew</b><br>
					I led lab work and data analysis for the project 'Exploring endophyte diversity in MSB seeds' (see my <a href="https://rowena-h.github.io/publications/">publications</a>) and assisted fieldwork for the project ‘Diversity of the ‘forgotten Kingdom’ in Boyacá, Colombia’.
				</td>
				<td width="20%">
					Feb 2017 – Aug 2018
				</td>
			</tr>
			<tr>
				<td width="80%">
					<b>Sandwich Course Student – Comparative Plant and Fungal Biology Department, Royal Botanic Gardens, Kew</b><br>
					I undertook a research project investigating the evolution of a lesser-known group of parasitic fungi.
				</td>
				<td width="20%">
					Sep 2014 – Aug 2015
				</td>
			</tr>
		</tbody>
	</table>


	<h2>Education</h2>

	<table style="width:100%">
		<tbody>
			<tr>
				<td width="80%">
					<b>PhD Biological Sciences, Royal Botanic Gardens Kew and Queen Mary University of London (London NERC DTP)</b><br>
					'The evolution of plant-associated lifestyles in the Ascomycota'
				</td>
				<td width="20%">
					Sep 2018 – ongoing
				</td>
			</tr>
			<tr>
				<td width="80%">
					<b>BSc Biological Sciences with Professional Placement, First Class Honours, The University of Exeter</b><br>
					I received the College Commendation and the Dean's Commendation.
				</td>
				<td width="20%">
					Sep 2012 – Jun 2016
				</td>
			</tr>
		</tbody>
	</table>

</body>