<body>
  <script type="text/javascript" src="//cdn.plu.mx/widget-popup.js"></script>
  <script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>
  <p style="margin-top: 10px">
  <small>Last updated January 01, 2023 automatically from <a href="https://scholar.google.com/citations?hl=en&user=5ibFtocAAAAJ" target="_blank">Google Scholar</a> &ndash; adapted from <a href="https://thackl.github.io/automatically-update-publications-with-R-scholar" target="_blank">this script</a></small>
  </p>
  <table>
  <tbody>
  <tr>
  <th></th>
  <th></th>
  <th></th>
  <th style="text-align: center"><small>Google scholar citations</small></th>
  </tr>
<tr><td width="10%"><h3>2022</h3></td><td width="10%"></td><td width="10%"></td><td width="10%"></td></tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=NA" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">

</td>
<td width="70%">H Ralimanana, AL Perrigo, RJ Smith, JS Borrell, S Faurby, MT Rajaonah et al. (2022) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=18444910006847018877&btnI=1&hl=en" target="_blank">Madagascar’s extraordinary biodiversity: Threats and opportunities</a>. <i>Science</i> 378 (6623), eadf1466
</td>
<td style="width:10%; text-align: center">1</td>
</tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=NA" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">

</td>
<td width="70%">A Antonelli, RJ Smith, AL Perrigo, A Crottini, J Hackel, W Testo, H Farooq et al. (2022) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=2704568192156643073&btnI=1&hl=en" target="_blank">Madagascar’s extraordinary biodiversity: Evolution, distribution, and use</a>. <i>Science</i> 378 (6623), eabf0869
</td>
<td style="width:10%; text-align: center">1</td>
</tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=10.1093/molbev/msac085" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">
<div data-badge-popover="right" data-badge-type="donut" data-doi="10.1093/molbev/msac085" data-hide-no-mentions="true" class="altmetric-embed"></div>
</td>
<td width="70%"><b>R Hill</b>, RJA Buggs, DT Vu, E Gaya (2022) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=1164861213837773006&btnI=1&hl=en" target="_blank">Lifestyle Transitions in Fusarioid Fungi are Frequent and Lack Clear Genomic Signatures</a>. <i>Molecular biology and evolution</i> 39 (4), msac085
</td>
<td style="width:10%; text-align: center">1</td>
</tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=10.3114/fuse.2022.09.08" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">
<div data-badge-popover="right" data-badge-type="donut" data-doi="10.3114/fuse.2022.09.08" data-hide-no-mentions="true" class="altmetric-embed"></div>
</td>
<td width="70%">PW Crous, M Sandoval-Denis, MM Costa, JZ Groenewald, AL van Iperen et al. (2022) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=NA&btnI=1&hl=en" target="_blank">Fusarium and allied fusarioid taxa (FUSA). 1</a>. <i>Fungal Systematics and Evolution</i> 
</td>
<td style="width:10%; text-align: center">0</td>
</tr>
<tr><td width="10%"><h3>2021</h3></td><td width="10%"></td><td width="10%"></td><td width="10%"></td></tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=NA" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">

</td>
<td width="70%">PW Crous, ER Osieck, Ž Jurjevi, J Boers, AL Van Iperen et al. (2021) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=174375389116580289&btnI=1&hl=en" target="_blank">Fungal planet description sheets: 1284–1382</a>. <i>Persoonia-Molecular Phylogeny and Evolution of Fungi</i> 47 (1), 178-374
</td>
<td style="width:10%; text-align: center">22</td>
</tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=10.3389/fmicb.2021.643731" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">
<div data-badge-popover="right" data-badge-type="donut" data-doi="10.3389/fmicb.2021.643731" data-hide-no-mentions="true" class="altmetric-embed"></div>
</td>
<td width="70%"><b>R Hill</b>, T Llewellyn, E Downes, J Oddy, C MacIntosh, S Kallow, B Panis et al. (2021) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=3090456375196511342&btnI=1&hl=en" target="_blank">Seed banks as incidental fungi banks: fungal endophyte diversity in stored seeds of banana wild relatives</a>. <i>Frontiers in microbiology</i> 12, 643731
</td>
<td style="width:10%; text-align: center">7</td>
</tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=10.1016/j.fbr.2021.03.003" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">
<div data-badge-popover="right" data-badge-type="donut" data-doi="10.1016/j.fbr.2021.03.003" data-hide-no-mentions="true" class="altmetric-embed"></div>
</td>
<td width="70%"><b>R Hill</b>, IJ Leitch, E Gaya (2021) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=6956797866347108963&btnI=1&hl=en" target="_blank">Targeting Ascomycota genomes: what and how big?</a>. <i>Fungal Biology Reviews</i> 36, 52-59
</td>
<td style="width:10%; text-align: center">5</td>
</tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=NA" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">

</td>
<td width="70%"><b>R Hill</b> (2021) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=12245394088969000620&btnI=1&hl=en" target="_blank">How we discovered a hidden world of fungi inside the world’s biggest seed bank.</a>. <i>[" The Conversation"]</i> 
</td>
<td style="width:10%; text-align: center">1</td>
</tr>
<tr><td width="10%"><h3>2019</h3></td><td width="10%"></td><td width="10%"></td><td width="10%"></td></tr>
<tr>
<td width="10%">
<a href="https://plu.mx/plum/a/?doi=10.1111/mpp.12765" data-popup="right" data-size="large" class="plumx-plum-print-popup" data-site="plum" data-hide-when-empty="true" target="_blank"></a>
</td>
<td width="10%">
<div data-badge-popover="right" data-badge-type="donut" data-doi="10.1111/mpp.12765" data-hide-no-mentions="true" class="altmetric-embed"></div>
</td>
<td width="70%">DJ Studholme, P Panda, E Sanfuentes Von Stowasser, M González et al. (2019) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=12013530181212016468&btnI=1&hl=en" target="_blank">Genome sequencing of oomycete isolates from Chile supports the New Zealand origin of Phytophthora kernoviae and makes available the first Nothophytophthora sp. genome</a>. <i>Molecular plant pathology</i> 20 (3), 423-431
</td>
<td style="width:10%; text-align: center">14</td>
</tr>
</tbody>
  </table>
  </body>
